<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377163622562-jcv272206fc9lbe04tk3vkj9lmst9jqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377163622562-jcv272206fc9lbe04tk3vkj9lmst9jqi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>377163622562-e8tufa75ph956qesr99na2o576j5c11v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAla8gc9OB5M0bGVvh_U4V5HRoR7mWr_5A</string>
	<key>GCM_SENDER_ID</key>
	<string>377163622562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.emastery.emastery-academy</string>
	<key>PROJECT_ID</key>
	<string>acadimiat-a72ba</string>
	<key>STORAGE_BUCKET</key>
	<string>acadimiat-a72ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377163622562:ios:3787ce66fb358eaadd4ffb</string>
	<key>DATABASE_URL</key>
	<string>https://acadimiat-a72ba-default-rtdb.firebaseio.com</string>
</dict>
</plist>